@import 'bootstrap';
$main: cornflowerblue;

#container {
	width: 90%;
	margin: 0 auto;
}
.product-wrap {
	width: 33%;
	border: $main solid 3px;
	position: relative;	
	
    .topcontent{
        border-bottom: solid $main 3px;
        img {
            width: 70%;
            margin: 0 15%;
        }	
        .morepictures {
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 20px;
            outline: 1px solid red;		
            text-align: center;	
        }
    } // topcontent
    
    .image-footer {
        width: 100%;
        a {
            display: inline-block;
            text-align: center;
            width: calc(25% - 6px);
            border-right: solid $main 3px;
            
//            span {
//                @extend glyphicon;
//            }
        }
        a:last-child {
            border-right: none;
        }
    }
    
    .productinfo {
        .info {
            position: absolute;
            margin: 2ex 0.5em;
        }
        .price {
            right: 0;
        }
    }
    




}//end of product wrap class
